@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.root{
    
    --police-titre: 'Montserrat';
    --police-texte:'Roboto';
}
body{
    font-family: var(--police-texte);
    height: 100%;
    margin: 0;
}
h1,h2,h3{
   color: #8D2C5A;
   font-weight: bold;
    font-family: var(--police-titre);
}
.header {
   background-color: #8D2C5A;
   
}

.logo {
    max-width: 90px;
    height: auto;
}

.btn-menu .material-icons {
    border: white;
    font-size: 30px;
    cursor: pointer;
    color: white;
}
.btn-menu {
    margin-right: -300%;
   
 }

.nav-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
}

.nav-link:hover {
    color: white;
}
.nav button{
    width: 200px;
    display: block;
     margin: 0 auto;
     margin-bottom: 10px;
}
.btn-deconnexion {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.btn-deconnexion:hover {
    background-color: white;
    color: #8D2C5A;
}
.main-content {
    flex: 1;
}
h4{
    color: #8D2C5A;
}
.btn-custom1 {
    background-color: transparent; 
    color: #8D2C5A;
    border: 1px solid #8D2C5A; 
    border-radius: 10px; 
    padding: 10px 20px; 
    font-size: 1rem; 
    font-weight: bold; 
    text-transform: uppercase; 
    cursor: pointer; 
    display: block;
    margin: 0 auto;
}

/* Effet de survol pour le bouton */
.btn-custom1:hover {
    background-color: #8D2C5A;
    color: white;
   
}
.card-product {
    border: 1px solid #8D2C5A;
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: hidden;
    height: 190px;
}

.card-product:hover {
    transform: scale(1.05);
}

.card-product .card-title {
    font-size: 18px;
    margin-bottom: 10px;
    color: #8D2C5A;
    font-weight: bold;
}
.prixT {
    color: #8D2C5A;
    font-weight: bold;
}

.card-product .card-text {
    font-size: 14px;
    margin-bottom: 10px;
}

.card-product .card-actions {
    display: flex;
    justify-content: space-between;
}

.product-acheté .card-product {
    background-color: #d4edda; 
    border-color: #c3e6cb;
}

.product-not-acheté .card-product {
   border-color: #8D2C5A;
}
.btn-group {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 1rem;
}
.btn-group .btn {
    background-color: transparent;
    border: 2px solid #8D2C5A;
    color: #8D2C5A;
    border-radius: 0;
    margin: 0;
}
.btn-group .btn.active, .btn-group .btn:hover {
    background-color: #8D2C5A;
    color: white;
    border-color: #8D2C5A;
}
.btn-group .btn:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* Style de base pour le footer */
.footer {
    background-color: #8D2C5A; 
    color: #fff;
    text-align: center; 
    padding: 10px 0; 
}

/* Style pour le conteneur du footer */
.footer .container {
    margin: 0 auto;
    padding: 0 15px; 
}

/* Style pour le texte du footer */
.footer p {
    margin: 0; 
    font-size: 0.9rem; 
}