@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.root{
    
    --police-titre: 'Montserrat';
    --police-texte:'Roboto';
}
body{
    font-family: var(--police-texte);
    height: 100vh;
}
.container-fluid{
    height: 100vh;
}
h1,h2{
   color: #8D2C5A;
   font-weight: bold;
    font-family: var(--police-titre);
}
.registration-image {
    width: 60%;
    height: 90%;
    display: block;
     margin: 0 auto;
}

.registration-form{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.form-control{
    border-bottom: 2px solid #8D2C5A;
    border-top: none;
    border-left: none;
    border-right: none;
    
}
.custom-btn {
    background-color: #8D2C5A;
    border-radius: 10px;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.custom-btn:hover {
    background-color: transparent;
    border: 2px solid #8D2C5A;
    color: #8D2C5A;
}

small a{
    color: #8D2C5A;
    margin-left: 5%;
    font-size: 18px;
}
small a:hover{
    color: #8D2C5A;
}
.form-group.success input{
    border-color: green;
}
.form-group.error input{
    border-color: #ce0033;
}
.form-group .error{
    color: #ce0033;
    font-size: 10px;
    height: 13px;
}

/* Exemple avec un sélecteur plus spécifique */
table tr.product-achete {
    background-color: #d4edda;
    text-decoration: line-through;
}

table tr.product-no-achete {
    background-color: #f8d7da;
}

.image-container {
    position: relative;
    display: flex;
    align-items: flex-end; /* Aligner l'image en bas */
    height: 100%; /* Assurez-vous que le conteneur prend toute la hauteur disponible */
}

.image-container .img-fluid {
    width: 100%;
    height: auto;
    display: block;
    margin-left: -10%;
   
}

/* Styles pour le fond semi-transparent */

/* Styles pour le conteneur des boutons */
.button-container {
    display: flex;
   align-items: center;
    gap: 10px; /* Espace entre les boutons */
    margin-bottom: 20px;
}

.btn-custom1 {
    background-color: transparent; 
    border-color: #8D2C5A;
    color: #8D2C5A;
    padding: 10px 15px; 
    font-size: 1rem; 
    font-weight: bold; 
    text-transform: uppercase; 
    cursor: pointer; 
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
.btn-custom1:hover {
    background-color: #8D2C5A; 
    color: white;
    border-color: #8D2C5A;
    
}
.btn-custom2 {
    background-color: #8D2C5A; 
    color: white;
    border: 1px solid #8D2C5A; 
    padding: 10px 15px; 
    font-size: 1rem; 
    font-weight: bold; 
    text-transform: uppercase; 
    cursor: pointer; 
    display: block;
    border-radius: 10px;
    
}
.btn-custom2:hover {
    background-color: #8D2C5A; 
    color: white;
    border: 1px solid #8D2C5A; 
}
